.g-1, .g-2, .g-3, .g-4, .g-5, .g-6, .g-7, .g-8, .g-9, .g-10, .g-11, .g-12 {
    cursor: pointer;
}

.g-m-1, .g-m-2, .g-m-3, .g-m-4, .g-m-5, .g-m-6, .g-m-7, .g-m-8, .g-m-9, .g-m-10, .g-m-11, .g-m-12 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.galery-modal-content {
    background-color: white;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid none;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 90vh;
    height: auto;
    overflow-y: auto;
    opacity: 0;
    transform: scale(0.8);
    animation: modalExpandIn 0.6s ease-out forwards;
    justify-content: center;
    text-align: justify;
    position: relative;
    top: -10;
}

@keyframes modalExpandIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modalExpandOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

.g-m-1.show, .g-m-2.show, .g-m-3.show, .g-m-4.show, .g-m-5.show, .g-m-6.show, .g-m-7.show, .g-m-8.show, .g-m-9.show, .g-m-10.show, .g-m-11.show, .g-m-12.show {
    display: block;
}

.g-m-1.hide, .g-m-2.hide, .g-m-3.hide, .g-m-4.hide, .g-m-5.hide, .g-m-6.hide, .g-m-7.hide, .g-m-8.hide, .g-m-9.hide, .g-m-10.hide, .g-m-11.hide, .g-m-12.hide {
    display: none;
}

.galery-close {
    float: right;
    font-size: 28px;
}

.galery-close:hover, .galery-close:focus {
    color: #3333;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.title-galery {
    text-align: center;
}

.img-galery {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    height: calc(100vh - 180px);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.carousel div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.photo-galery {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

button.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button.arrow:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .galery-modal-content {
        width: 90%;  /* Tornar o modal um pouco menor em telas pequenas */
    }

    .photo-galery {
        max-width: 100%;  /* Garantir que as imagens caibam dentro do modal */
        max-height: 60vh;
    }

    .arrow {
        padding: 8px;  /* Botões de seta menores para telas menores */
    }
}
